@font-face {
    font-family: Inder;
    src: url(/fonts/Inder/Inder-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Julius_Sans_One;
    src: url(/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Public_Sans;
    src: url(/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf);
}



::-webkit-scrollbar {
    scrollbar-width: none;
}

body {
    background-image: url(/image/flat-airplane-icon-on-blue-background-free-vector.jpg);
    margin: 0%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    display: flex;
    padding: 20px;
    width: auto;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    justify-content: space-between;
    align-items: center;
}

header nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

header nav button {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 19.5px;
    background: rgba(0, 0, 0, 0.1);
    width: 130PX;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Inder;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    transition: 0.5s;
}

header nav button:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.logo {
    display: flex;
    padding: 20px;
    width: 203px;
    height: 52px;
    left: 20px;
    right: 1217px;
    top: 11px;
    bottom: 1049px;
    margin: 0%;
    padding: 0%;
}

.logo img {
    width: 23%;
    height: 100%;
    /* size: 30%; */
    margin-right: 4px;
}

.logo a {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 25px;
    font-weight: 500;
    /* line-height: 26px; */
    letter-spacing: 0%;
    text-align: left;
    margin: auto 0%;
    text-decoration: none;
}

.wrapper {
    /* position: relative; */
    /* width: 400px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    /* margin: 20% 0; */
    /* justify-content: space-around; */
    align-items: center;
    /* padding: 0 20%; */
}

.form-box {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    width: 90ex;
    height: auto;
    padding: 4% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box h3 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0%;
}

.form-box form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-box form #input-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
}

.form-box form #input-box label {
    /* font-family: "Public Sans", sans-serif; */
    /* position: absolute; */
    font-family: Nunito;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0%;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    width: 100%;
}

.form-box form #input-box input {
    width: auto;
    height: auto;
    font-family: Nunito;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: transparent;
    outline: none;
    /* border: 2px inset #FFF; */
    /* border-radius: 20px; */
    border: none;
    border-bottom: 2px inset #FFF;
    padding: 5px 1.4%;
    box-shadow: none;
    margin-top: 3px;
    align-items: center;
}

.form-box form button {
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 19.5px;
    background: rgba(0, 0, 0, 0.1);
    width: 130PX;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: Inder;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
    transition: 0.5s;
}

.form-box form button:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.9);
}

footer {
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    float: inline-end;
}

footer .about {
    width: 30%;
}

footer .about nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 60%;
}

footer .about nav ul li {
    list-style: none;
}

footer .about nav ul li a {
    width: auto;
}

footer .about nav ul li a div {
    background-position: center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}

.youtube {
    background-image: url(/image/brand-youtube-1.svg);
}

.facebook {
    background-image: url(/image/brand-facebook-1.svg);
}

.twitter {
    background-image: url(/image/brand-twitter-1.svg);
}

footer .about h6 {
    font-family: Public_Sans;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}

footer .about p {
    font-family: Public_Sans;
    color: #FFF;
    font-size: 15px;
    font-weight: 200;
    margin: 20px 0 0 0;
}